<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics</title>
</head>
<body>
    <h1> {{ titre }} </h1>
    <p> 
        {% for line in lyrics %}
            {% for mot in line.split() %}
                {% if mot[0] == '#' and mot[-1] == '#' %}
                    <strong>{{ mot[1:-1] }}</strong>
                {% elif mot[-1] == ',' or '"' and mot[-2] == '#' %}
                    <strong>{{ mot[1:-2] }}</strong>mot[-1]
                {% elif mot[0] == '#' %}
                    <strong>{{ mot[1:] }}</strong>{{ " " }}
                {% elif mot[-1] == '#' %}
                    <strong>{{ mot[:-1] }}</strong>{{ " " }}
                {% else %}
                    {{ mot }}{{ " " }}
                {% endif %}
            {% endfor %} </br>
        {% endfor %}
    </p>
</body>
</html>